* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

html::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1919;
}

html::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: hsla(220, 5%, 88%, 0.911);
}

header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

.mobile-menu {
    display: none;
}

body {
    background: white;

}

.connect {
    margin-right: 3em;
    margin-top: 1.2em;
}

.home {
    margin-left: 35em;
    margin-top: 1.2em;
}

.social {
    margin-right: 3em;
    margin-top: 1.2em;
}

.status {
    margin-right: 3em;
    margin-top: 1.2em;
}
.fa-gamepad {
    color: white;
    margin-left: -2em;
    margin-top: 1em;
}

.icon-fb {
    float: right;
    margin-top: 1.7em;
    width: 15px;
}

.status span {
    color: rgb(97, 247, 135);
}

.container-menu a {
    text-align: center;
}

/*Mikołajkowe logo*/

.logo-img {
    width: 80px;
    height: auto;
}

.logo {
    float: left;
    position: absolute;
    margin-left: 22em;
    margin-top: -2.7em;

}


/*Zwykłe logo*/

/*.logo-img {
    width: 80px;
    height: auto;
}

.logo {
    float: left;
    position: absolute;
    margin-left: 22em;
    margin-top: -2em;

}
*/


nav {
    height: 80px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.74);
    position: fixed;
    z-index: 1;

}


nav a {
    text-decoration: none;
    color: white;
    float: left;
    margin-right: 50px;

}
nav span {
    font-size: 14px;
    color: rgb(155, 152, 152);
    display: inline-block;
}

nav span:hover {
    color: white;
}

.label {
    display: block;
}

section {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
  }

.write-box {
    width: 900px;
    height: 300px;
    margin-left: 31em;
    margin-top: 25em;
    background-color: hsla(0, 0%, 0%, 0.568);
    position: absolute;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
    z-index: 1;
  }
  .write-box h6 {
    color: #ffffffcb;
    margin-left: 39em;
    border-bottom: 1px solid #2486e2;
    position: absolute;
    z-index: 1;
  }
#typed {
    color: white;
    position: absolute;
    z-index: 1;
    margin-left: 2em;
    font-size: 29px;
    margin-top: 2em;
    font-weight: 300;
}
.copy {
    margin-top: 62em;
    margin-left: 82.5em;
    position: absolute;
    z-index: 1;
    color: #ffffffcb;

}

.bar {
    color: white;
    float: right;
    margin-right: -2em;
    margin-top: 0.5em;
    font-size: 30px;
    display: none;

}

.games-section {
    height: 200px;
    background-color: white;

}
.games-section h3 {
    font-size: 25px;
    color: #555;
    font-weight: 300;
    padding-top: 40px;
    text-align: center;
}
.games-section p {
    font-size: 20px;
    color: #555;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
}
.games-section span {
    color: #2486e2;
    font-weight: 400;
}
.border-gamesSection {
    margin-top: -3em;
    margin-left: 58em;
    border: 1px solid #2486e2;
    position: absolute;
    width: 50px;
}

.arrowPush {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    text-align: center;
    position: fixed;
    margin-top: -17em;
    margin-left: 115em;
    z-index: 1;
}
.arrow-top {
    width: 15px;
    color: #555;
    margin-top: 13px;
}




.wrap {
    position: relative;

}
.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(../img/slide4.jpg);
    background-attachment: fixed;
    height: 716px;
    filter: grayscale(60%);
    /* border-top: 2.5px solid black;
    border-bottom: 1.5px solid black; */
}
.slide2 {
    background-image: url(../img/slide3.jpg);
    height: 716px;
    background-attachment: fixed;
    filter: grayscale(60%);
    /* border-top: 2.5px solid black;
    border-bottom: 1.5px solid black; */
}

.slide3 {
    background-image: url(../img/slide1.jpg);
    height: 716px;
    background-attachment: fixed;
    filter: grayscale(60%);
    /* border-top: 2.5px solid black;
    border-bottom: 1.5px solid black; */

}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 35px;
    font-weight: 300;
    color: white;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrow-left {
    z-index: 1;
    color: white;
    width: 60px;
    height: 60px;
    background-color: hsla(0, 0%, 0%, 0.74);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin-top: 63em;
    margin-left: 30px;
    text-align: center;
}

.arrow-leftSlide {
    width: 23px;
    margin-left: -4px;
    margin-top: 18px;
    z-index: 1;
    transform: rotate(-85deg);
}


#arrow-right {
    z-index: 1;
    color: white;
    width: 60px;
    height: 60px;
    background-color: hsla(0, 0%, 0%, 0.74);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin-top: 63em;
    right: 0;
    margin-right: 30px;
    text-align: center;
}
.arrow-rightSlide {
    width: 23px;
    margin-right: -4px;
    margin-top: 18px;
    z-index: 1;
    transform: rotate(85deg);
}
.slide-box {
    width: 750px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 3em;
    margin-left: -50em;
    border-radius: 10px;

}

.slide-box h4 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 350px;
    height: 30px;
    background: #1a1919;
    margin-left: 10em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #2486e2;
}
.slide-box p {
    padding-top: 25px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
}
.slide-box2 {
    width: 750px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 3em;
    margin-left: 1.5em;
    border-radius: 10px;
}

.slide-box2 h4 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 350px;
    height: 30px;
    background: #1a1919;
    margin-left: 10em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #2486e2;
}
.slide-box2 p {
    padding-top: 25px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
}
.slide-box3 {
    width: 750px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: -9.4em;
    margin-left: 25em;
    -moz-margin-start: 50em;
    -moz-transform: rotateY(260deg);
    border-radius: 10px;
    position: absolute;
}
@-moz-document url-prefix() {
    .slide-box3 {
        margin-top: -18.7em;
    }
}

.slide-box3 h4 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 350px;
    height: 30px;
    background: #1a1919;
    margin-left: 10em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #2486e2;
}
.slide-box3 p {
    padding-top: 25px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
}

#change-log:active,
#change-log:focus,
#change-log.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#change-log {
    width: 70px;
    height: 20px;
    border-bottom: 1px solid #0086b3;
    margin-left: 51em;
    margin-top: 2em;
    position: absolute;
    background: rgba(255, 255, 255, 0);

}
#change-log p {
    color:  white;
    font-size: 13px;
    margin-top: 1px;
    text-transform: uppercase;
    margin-left: 5.5px;
    padding-top: -1.5px;
    padding-left: -10px;
}
#changelog-description {
    height: 700px;
    width: 1000px;
    background: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
    margin-left: 30em;
    margin-top: -1700px !important;
    position: absolute;
    box-shadow: 0 6px 16px -6px black;
}
#textH1 {
    color: white;
    position: absolute;
    margin-top: -55em;
    margin-left: 30em;
}
#dotRed {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #ed222cb6;
    position: absolute;
    margin-top: -1688px;
    margin-left: 492px;
    z-index: 1;
}
#dotYellow {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #da9413b2;
    margin-top: -1688px;
    margin-left: 517px;
    position: absolute;
    z-index: 1;
}
#dotGreen {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #19ad63b4;
    margin-top: -1688px;
    margin-left: 542px;
    z-index: 1;
    position: absolute;
}





